# main repo will be displayed in the header
main_repo_name: foliant-docs/foliant
main_repo_url: https://github.com/foliant-docs/foliant

repo_name: foliant-docs/docs
repo_url: https://github.com/foliant-docs/docs
edit_uri: edit/master/src/
theme:
    name: material
    custom_dir: !path ./theme/
    palette:
        primary: "rgba(0, 0, 0, 0.87)"
        accent: light blue
    font:
        text: PT Sans
        code: PT Mono
    logo: assets/images/octopus-white.svg
    favicon: assets/images/octopus-black-32.ico
    features:
        - search.suggest
        - search.highlight
        - navigation.top
    icon:
      repo: fontawesome/brands/github-alt

extra:
    social:
        -   icon: fontawesome/brands/github
            link: https://github.com/foliant-docs/foliant
        -   icon: fontawesome/regular/file-pdf
            link: /docs/assets/foliant-docs.pdf
    analytics:
      provider: google
      property: UA-120535275-2
plugins:
    - tags:
        tags_file: tags.md
markdown_extensions:
    - def_list
    - pymdownx.highlight
    - toc:
        permalink: true
    - admonition
    - pymdownx.details
    - pymdownx.superfences
extra_css:
    - 'stylesheets/extra.css'
